*
!.gitignore
!.nojekyll

!index.html
!style.css
!app.js
!algorithms.js
!thermodynamics.js
!thal_bridge.js
!LICENSES.md
!LICENSE

!primer3_wasm/
!primer3_wasm/PRIMER3_LICENSE.txt
!primer3_wasm/dist/
!primer3_wasm/dist/thal.js

!readme.md



